*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-err{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    object-fit: contain;
    width: 90vw;
    height: 90vh;
}