*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container-fp{
    width: 100vw;
    height:100vh;
}
.container-fp{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: #023430;
}
.title-fp{
    margin-top: 20px;
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    color: white;
    font-family: Cabifpafp-serif;
}
.content-fp{
    display: flex;
    height:100%;
    width:100%;
}

.left-fp{
    width:48%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fp{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width:60%;
    height:60%;
    padding: 50px;
    border-radius: 20px;
}

.right-fp{
    width:50%;
    height:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.form-head{
    font-weight: 500;
    margin-bottom: 5px ;
}
.form-subheading-fp{
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form-btn-fp{
    background-color: #00ed64;
    font-family:"Euclid Circular A";
    font-size:18px;
    font-style:normal;
    text-align:center;
   border: 1px solid #000;
   width:300px;
   font-weight: 500;
   margin:30px;
   height:60px;
   padding: 20px;
}

.form-btn-fp:hover{
    border-radius: 15px;
  }
img{
    width:80%;
    height:80%;
    object-fit: contain;
}


@media screen and (max-width:900px){

    .left-fp{
        width:48%;
    }

    .form-fp{
        padding: 20px;
        height:55%;
        width:98%;
    }
    .form-btn-fp{
        width:250px;
       margin-bottom:0px;
       padding: 10px;
    }
    .form-head{
        font-size: 28px;
    }
   
    .input-fp[type="text"] {
        width:250px;
        padding:30px;
        margin:15px;
        height:25px;
        font-weight: 500;
        font-size: 16px;        
      }
}


@media screen and (max-width:700px){
    
    .input-fp[type="text"] {
        width:250px;
        padding:30px;
        margin:15px;
        height:25px;
        font-size: 16px; 
        font-weight: 500;       
      }
}

@media screen and (max-width:550px) {
   .right-fp{
    display: none;
   }
 
  
   .left-fp{
    width:98%;
   }
   .form-fp{
    width:90%;
   }
}

.load-icon{
    width:99vw;
    height:99vh;
    overflow: hidden;
    object-fit: contain;
  }